{% extends "main.html" %}

{# Put the flash message in the title of the page for better accessibility #}
{% block title %}
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			{{ message }} -
		{% endfor %}
		{% endif %}
	{% endwith %}
	{{ item.year }} {{ item.make }} {{ item.model }}
{% endblock %}

{% block content %}

<h1>{{ item.year }} {{ item.make }} {{ item.model }} {{ format_price(item.price) }}</h1>

<p class="meta">Created by: {{ creator.name }}<br>
	Published: {{ item.date_added.strftime('%I:%M %p, %m/%d/%y') }}</p>

{% if session.username == creator.name and edit %}
<form class="form-horizontal" action= "{{url_for('showItem', category_id = category_id, item_id=item.id)}}" method = 'POST'>
	<div class="form-group">
			<label for="price" class="col-sm-2 control-label">Price ($):</label>
			<div class="col-sm-10"><input id="price" class="form-control" type="text" name="price" placeholder="ex. 10000" value="{{ format_price_plain(item.price) }}"/></div>
	</div>
	<div class="form-group">
		<label for="year" class="col-sm-2 control-label">Year:</label>
		<div class="col-sm-10"><input id="year" class="form-control" type="text" name="year" placeholder="ex. 2010" value="{{ item.year }}"/></div>
	</div>
	<div class="form-group">
		<label for="make" class="col-sm-2 control-label">Make:</label>
		<div class="col-sm-10"><input id="make" class="form-control" type="text" name="make" value="{{ item.make }}"/></div>
	</div>
	<div class="form-group">
		<label for="model" class="col-sm-2 control-label">Model:</label>
		<div class="col-sm-10"><input id="model" class="form-control" ="text" name="model" value="{{ item.model }}"/></div>
	</div>
	<div class="form-group">
		<label for="miles" class="col-sm-2 control-label">Miles:</label>
		<div class="col-sm-10"><input id="miles" class="form-control" type="text" name="miles" placeholder="ex. 30000" value="{{ item.miles }}"/></div>
	</div>
	<div class="form-group">
		<label for="desc" class="col-sm-2 control-label">Description:</label>
		<div class="col-sm-10"><textarea id="desc" class="form-control" class="form-control" rows="3" name="description">{{ item.description }}</textarea></div>
	</div>
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-2">
			<input type='submit' value='Publish' class="btn btn-default">
			<div class = "editdeletepane">
				<a href='{{url_for('deleteItem', category_id = category.id, item_id=item.id)}}'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Delete</a>
			</div>
		</div>
	</div>
</form>
{% else	%}
<p><strong>Odometer</strong>: {{ format_miles(item.miles) }} miles</p>
<p><strong>Description</strong>: {{ item.description }}</p>
{% if session.username == creator.name %}
<span class="commandContainer">
	<a href='{{url_for('showItem', category_id = category.id, item_id=item.id, edit=true)}}'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit</a>
	<a href='{{url_for('deleteItem', category_id = category.id, item_id=item.id)}}'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Delete Your Listing</a>
</span>
{% else 	%}
<p><a href="mailto:{{ creator.email }}">Email publisher</a></p>
{% endif 	%}
{% endif 	%}
</div>
{% endblock %}
